@charset "UTF-8";


body{
    background-color: #f2f2f2;
}


header{
    padding: 2px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: lightgray;
    height: 10vh;

}

div#logo{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


   
    background-color: gray;

}

div#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

    background-color: rgba(0, 0, 0, 0.214);
    width: 50%;
    max-width: 600px;
    padding: auto 5px;

   
}

div.itens{
    padding: 2.5px;
}
