@charset "UTF-8";



body{
    background-image: linear-gradient(180deg,gray,black);
    background-attachment: fixed;
}


header{
    max-width:120%;
    border-radius: 5px;
    
    
    margin: auto;
    margin-bottom: 5px;
    padding: 2px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    


    background-color: rgb(0, 0, 0);
    height: 8vh;

}

div#logo{
   background-image: url(imagens/image-removebg-preview.png);
   background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 50px;
    height: 50px;
}

div#logo:hover{
    width: 60px ;
    height: 60px;
}
div#menu  {
    color:rgb(192, 192, 192);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

    background-color: rgba(0, 0, 0, 0.016);
    width: 50%;
    max-width: 600px;
    padding: auto 5px;
} 

div.itens a{
    font-size: 1em;
    color: rgb(192, 192, 192);
    text-decoration: none;
}
div.itens{
    
    padding: 2.5px;
}
div.itens a:hover{
    cursor: pointer;
    font-size: 1.3em;
    color: white;
}







main{
    color: white;
   
    border-radius: 5px;
    overflow: hidden;
    
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.304);
    
    background-image: url(imagens/imagem2.jpg);
    background-position: left center;

    max-width: 75% ;
    margin: auto;

    
    padding: 50px;
    height: 100vh;

}

h1{
    padding-left: 20px;
    color:white;
    background-image:linear-gradient(90deg,black,transparent);
}

p{
    text-align: justify;
    padding: 15px;
}